* {
  box-sizing: border-box;
  color: #7E8A9E;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template: "sidebar header"
                 "sidebar main";
}

/*SIDEBAR*/
.sidebar {
  display: grid;
  grid-area: sidebar;
  grid-template-rows: 200px 290px 290px 1fr;
}

.sidebar article:nth-child(1) {
  border: none;
}

.sidebar article {
  border-top: 3px solid #313949;
  padding: 20px 0 20px;
}

.sidebar .profile-section {
  text-align: center;
}

.sidebar .profile-pic {
  width: 80px;
}

.sidebar .profile-pic {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar .profile-section a {
  color: #A2ABBD;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

.sidebar .profile-section .fas {
  color: #A2ABBD;
  margin-left: 5px;
}

.sidebar .profile-section h5 a:hover,
.sidebar .profile-section h5 a:hover .fas {
  color: #ffffff;
}

.sidebar,
.sidebar li {
  background-color: #374050;
  color: #A2ABBD;
  font-weight: 700;
  list-style: none;
}

.sidebar h6 {
  color: #67748B;
  padding: 0 20px;
}

.sidebar ul {
  line-height: 3rem;
}

.sidebar .sidebar-ul li:hover {
  background-color: #313949;
}

.sidebar li {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15px 1fr;
  justify-items: left;
  padding: 0 20px;
}

.sidebar li .fas {
  color: #A2ABBD;
  font-size: 1.1rem;
  justify-self: center;
}

.sidebar li .yellow-box {
  color: #ffd505;
}

.sidebar li .blue-box {
  color: #29affe;
}

.sidebar li .red-box {
  color: #e91b61;
}

.sidebar li .green-box {
  color: #03aa8a;
}

/*HEADER*/
header {
  display: grid;
  grid-area: header;
  grid-template-rows: 80px 1fr 40px;
  height: 300px;
}

header .search {
  display: grid;
  grid-template-columns: 80px 1fr repeat(3, 80px);
  height: 80px;
}

header .search .fas{
  font-size: 1.5rem;
}

header .search .fa-caret-left, 
header .search .fa-bars {
  margin-right: 3px;
}

header .search .fa-caret-left {
  color: #48A3F3;
}

header .search-bar {
  font-family: 'Font Awesome\ 5 Free', sans-serif;
  font-weight: 600;
}

header .search button:nth-child(1) {
 border-left: none;
}

header .search button,
header .search input {
  background-color: #FFFFFF;
  border: none;
  border-left: 2px solid #E4E6E9;
  height: 80px;
}

header .search input,
header .search input:focus {
  font-size: 1.25rem;
  padding-left: 30px;
  outline: none;
}

header .search input::placeholder {
  color: #9CA3AE;
}

header .search button:hover,
header .search button:hover .fas,
header .summary button:hover,
header .summary button:hover .not-circle,
main .chart button:hover,
main .hr button:hover,
main .hr button:hover .fas {
  background-color: #48A3F3;
  color: #FFFFFF;
}

header .search button:first-child:hover {
  color: #FFFFFF;
}

header .summary {
  border-top: 2px solid #E4E6E9;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 30px;
}

header .summary h3 {
  color: #4E515D;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

header .summary .fa-map-marker-alt {
  margin-right: 5px;
}

header .summary a {
  color: #48A3F3;
  text-decoration: none;
}

header .summary .four-buttons {
  justify-self: right;
  margin-top: 10px;
}

header .summary .four-buttons button {
  margin-left: 15px;
}

header .summary button {
  background-color: #FFFFFF;
  border: 2px solid #D3DAE1;
  border-radius: 20px;
  height: 40px;
}

header .summary .long-button {
  font-weight: 700;
  padding: 0 18px;
}

header .summary .fa-circle {
  color: #99C354;
  margin-right: 5px;
}

header .summary .circle-button {
  width: 40px;
}
header .summary .circle-button .fas {
  color: #9CA3AE;
}

header .tabs {
  margin-left: 30px;
}

header .tabs h5 {
  display: inline-block;
  height: 100%;
  margin-right: 30px;
}

header .tabs h5:nth-last-child(1) {
  display: none;
}

header .tabs h5:hover {
  border-bottom: 3px solid #48A3F3;
  color: #4E515D;
}

/*MAIN*/
main {
  background-color: #EDF2F6;
  border-top: 1px solid #D9DFE4;
  display: grid;
  grid-area: main;
  grid-column-gap: 30px;
  grid-template: "chart chart"
                 "hr hr"
                 "table aside";
  grid-template-columns: 2fr 1fr;
  padding: 30px;
}

main .chart {
  align-items: center;
  column-gap: 2%;
  display: grid;
  grid-area: chart;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  padding-bottom: 40px;
}

main .chart .circle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main .chart .circle-graph {
  position: relative;
}

main .chart .circle-text {
  align-items: center;
  display: flex;
  height: 175px;
  justify-content: center;
  position: absolute;
  width: 175px;
  word-break: break-word;
}

main .chart .circle-svg {
  position: relative;
  transform: rotate(90deg);
}

main .chart .circle {
  stroke-linecap: round;
  fill: none;
  stroke-width: 9px;
}

main .chart .circle-bg {
  stroke: #DBE4EA;
}

main .chart p {
  text-align: center;
  word-break: break-word;
}

main .chart .circle-graph-1 {
  stroke: #67B8BF;
  stroke-dashoffset: calc(3.14*150*.20);
  stroke-dasharray: calc(3.14*150);
}

main .chart .circle-graph-2 {
  stroke: #48A3F3;
  stroke-dashoffset: calc(3.14*150*.60);
  stroke-dasharray: calc(3.14*150);
}

main .chart .circle-graph-3 {
  stroke: #A46DAB;
  stroke-dashoffset: calc(3.14*150*.80);
  stroke-dasharray: calc(3.14*150);
}

main .chart span {
  color: #5B6677;
  display: block;
  font-size: 3rem;
  width: 107px;
}

main .chart .bar-graph {
  display: inline-block;
  width: 420px;
}

main .chart button {
  background-color: #FFFFFF;
  border: 2px solid #D3DAE1;
  border-radius: 16px;
  color: #5B6677;
  font-weight: 700;
  justify-self: center;
  margin: 20px;
  padding: 7px 18px;
}

main .hr {
  align-items: center;
  display: grid;
  grid-area: hr;
  grid-template-columns: 1fr 50px 1fr;
}

main .hr .gray-hr {
  border-top: 2px solid #D3DAE1;
  height: .4rem;
  margin-bottom: 60px;
}

main .hr button {
  background-color: #FFFFFF;
  border: 2px solid #D3DAE1;
  border-radius: 50%;
  height: 35px;
  justify-self: center;
  margin-bottom: 60px;
  width: 35px;
}

main table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  grid-area: table;
}

main table th,
main table td {
  height: 82px;
}

main table thead {
  background-color: #717E93;
}

main table th {
  color: #FFFFFF;
  padding: 20px;
  text-align: left;
  min-width: 180px;
}

main table th button,
main table th button .fas  {
  color: #FFFFFF;
}

main table th button {
  background-color: #7E8BA4;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 10px 15px;
}

main table th button .fas {
  margin-right: 5px;
}

main table th button:hover,
main aside .soc-med-buttons button:hover,
main aside .copy-button:hover {
  filter: brightness(1.2);
}

main table tr td:nth-child(1) {
  font-weight: 700;
}

main table td {
  padding: 20px;
  border-bottom: 1px solid #EFF2F5;
  border-top: 1px solid #EFF2F5;
}

main table tr .thumbnail-cell {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40px 1fr;
}

main table td .thumbnail {
  border-radius: 50%;
  width: 40px;
}

main table tr .salary {
  color: #5B6677;
  font-weight: 700;
}

/*ASIDE*/
main aside {
  display: grid;
  grid-area: aside;
  grid-template-rows: repeat(4, 1fr);
}

main aside .soc-med-buttons {
  display: grid;
  grid-row-gap: 20px;
}

main aside .soc-med-buttons button {
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  width: 100%;
}

main aside article {
  border-top: 3px solid #D3DAE1;
}

main aside article:nth-child(1),
main aside article:nth-child(2) {
  border: none;
}

main aside .soc-med-buttons img {
  height: 1.2rem;
  left: 20px;
  position: absolute;
}

main aside .soc-med-buttons .facebook {
  background-color: #5171BC;
}

main aside .soc-med-buttons .twitter {
  background-color: #48A9E9;
}

main aside .soc-med-buttons .linkedin {
  background-color: #3580B8;
}

main aside article .fas {
  color: #717A89;
  font-size: 1.5rem;
  margin-right: 10px;
}

main aside article h4 {
  color: #717A89;
  font-size: 1.5rem;
  margin-top: 30px;
}

main aside article p {
  margin: 18px 0 25px;
}

main aside .input-with-btn {
  display: grid;
  grid-template-columns: 80% 20%;
}

main aside input {
  height: 36px;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 0;
  padding-left: 10px;
}

main aside .copy-button {
  background-color: #67B8BF;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 10px;
}

main aside .input-email {
  width: 100%;
  border-radius: 3px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  main .chart {
    grid-template:
    "circles"
    "totals"
    "bar"
    "applicants";
  }

  main .chart .circle-section {
    grid-area: circles;
    justify-content: space-around;
  }

  main .chart .totals-button {
    grid-area: totals;
    margin-bottom: 40px;
  }

  main .chart .bar-graph {
    grid-area: bar;
  }

  main .chart .applicants-button {
    grid-area: applicants;
  }
}

@media screen and (max-width: 1080px) {
  main {
    grid-template: "chart"
                   "hr"
                   "table"
                   "aside";
  }

  main table {
    margin-bottom: 40px;
  }

  main aside {
    margin: auto;
    width: 287px;
  }
}

@media screen and (max-width: 1020px) {
  header {
    height: 318px;
  }

  header .summary {
    border-top: 2px solid #E4E6E9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
  }

  header .summary .four-buttons {
    justify-self: left;
  }

  header .summary .four-buttons button {
    margin-left: 0;
    margin-right: 10px;
  }

  header .tabs h5:nth-last-child(1) {
    display: inline;
  }

  header .tabs h5:nth-last-child(1):hover {
    border: none;
  }

  header .tabs h5:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .sidebar {
    display: none;
  }

  header .search .fa-caret-left {
    display: none;
  }

  header .search .fa-bars {
    margin-right: 0;
  }
}

@media screen and (max-width: 740px) {
  header .tabs h5:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  header {
    grid-template-rows: 160px 1fr 40px;
    height: 398px;
  }

  header .search {
    display: grid;
    grid-template-rows: 80px 80px;
  }

  header .search button {
    border-left: none;
    border-right: 2px solid #E4E6E9;
  }

  header .search button:nth-child(3) {
    border-left: 2px solid #E4E6E9;
  }

  header .search button:nth-child(5) {
    border-right:none;
  }

  header .search .empty {
    grid-column: 2/3; 
    grid-row: 1/2;
  }

  header .search input {
    border-left: none;
    border-top: 2px solid #E4E6E9;
    grid-column: 1/6;
    order: 6;
    padding-left: 5%;
  }

  header .tabs h5:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 585px) {
  main {
    padding: 10px;
  }

  header .summary .four-buttons button:nth-child(4) {
    margin: 0;
  }

  header .tabs h5:nth-child(4) {
    display: none;
  }

  main .chart .circle-section {
    display: grid;
  }

  main .chart .bar-graph {
    width: 90%;
  }

  main table th {
    min-width: 140px;
  }

  main table td {
  padding: 10px;
}

@media screen and (max-width: 470px) {
  header {
    grid-template-rows: 160px 1fr 40px;
    height: 448px;
  }
}

@media screen and (max-width: 410px) {
  header .tabs h5:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  header .search button:nth-child(3) {
    border-left:none;
  }
}